<module>
	<rawname>urihand</rawname>
	<name>URI Handling</name>
	<version>0.0.2</version>
	<canuninstall>yes</canuninstall>
	<candisable>no</candisable>
	<type>setup</type>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
       <description>
                Provides SIP URI Dialing and Managment ui from your PBX. 
        </description>
	<info>POSSA Website</info>
	 <changelog>
		*0.0.2* Moved to POSSA, first testing release         08-12-2012
		*0.0.1* Non-working First Module framework   (tshif)  12-24-2010
        </changelog>
	<menuitems>
		<urihand>URI Handling</urihand>
	</menuitems>
	<depends>
		<version>ge 2.9</version>
		<engine>asterisk 1.2</engine>
	</depends>
		 <info>POSSA Wiki</info>
	<location>POSSA Website</location>
</module>
