<module>
	<rawname>urihand</rawname>
	<name>URI Handling</name>
	<version>0.0.4</version>
	<canuninstall>yes</canuninstall>
	<candisable>no</candisable>
	<type>setup</type>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
       <description>
                Provides SIP URI Dialing and Managment User Interface from your PBX. 
        </description>
	<info>POSSA Website</info>
	 <changelog>
		*0.0.4* Fix for FreePBX 14+                           02-13-2022
		*0.0.2* Moved to POSSA, first testing release         08-18-2012
		*0.0.1* Non-working First Module framework   (tshif)  12-24-2010
        </changelog>
	<menuitems>
		<urihand>URI Handling</urihand>
	</menuitems>
	<depends>
		<version>ge 2.9</version>
	</depends>
	<info>https://github.com/POSSA/freepbx-SIP-URI-handling/wiki</info>
	<location>https://github.com/POSSA/freepbx-SIP-URI-handling</location>
</module>
