<module>
	<rawname>urihand</rawname>
	<name>SIP URI Handling</name>
	<version>0.0.1</version>
	<candisable>no</candisable>
	<canuninstall>yes</canuninstall>
	<type>setup</type>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
       <description>
                Provides SIP URI Dialing and Managment ui from your PBX. 
        </description>
	<info>POSSA Website</info>
	 <changelog>
		*0.0.1* First Module framework   (tshif)  12-24-10
        </changelog>
	<menuitems>
		<urihand>SIP URI Handling</urihand>
       </menuitems>
	<depends>
                <module>core</module>
                <version>ge2.2</version>
                <engine>asterisk 1.2</engine>
         </depends>
		 <info>POSSA Wiki</info>
	<location>POSSA Website</location>
	
</module>
